<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static',filename='img/apple-icon.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static',filename='img/favicon.png') }}">
  <title>
    Neural Network
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="{{ url_for('static',filename='fontawesome/css/all.css') }}" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="{{ url_for('static',filename='nucleo-icons.css') }}" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="{{ url_for('static',filename='black-dashboard.css') }}" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            CNN
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Eartquake
          </a>
        </div>
        <ul class="nav">
          <li class="active">
            <a href="#">
              <i class="fas fa-house-damage"></i>
              <p>Home</p>
            </a>
          </li>
<!--          <li>-->
<!--            <a href="/input">-->
<!--              <i class="fas fa-upload"></i>-->
<!--              <p>Input Data</p>-->
<!--            </a>-->
<!--          </li>-->
          <li>
            <a href="/training">
              <i class="fab fa-leanpub"></i>
              <p>Data Training</p>
            </a>
          </li>
          <li>
            <a href="/testing">
              <i class="fas fa-subscript"></i>
              <p>Data Testing</p>
            </a>
          </li>
          <li>
            <a href="/testing_t">
              <i class="fas fa-brain"></i>
              <p>Data Testing 8 Sesimik</p>
            </a>
          </li>
          <li>
            <a href="/visualisasi">
              <i class="fas fa-thumbtack"></i>
              <p>My Visualization</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <ul class="navbar-nav ml-auto">
              <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" style="visibility:hidden">
                  <div class="photo">
                    <img src="" alt="Profile Photo">
                  </div>
                  <b class="caret d-none d-lg-block d-xl-block"></b>
                  <p class="d-lg-none">
                    Log out
                  </p>
                </a>
                <ul class="dropdown-menu dropdown-navbar">
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
                  <li class="dropdown-divider"></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a></li>
                </ul>
              </li>
              <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h1 class="title text-center">DASHBOARD</h1>
              </div>
              <div class="card-body">
                  <div class="row">
                    <div class="col-md-12 pr-md-1">
                      <div class="form-group">
                        <h1>Gempa</h1>
                        <label>Gempa bumi adalah getaran atau guncangan yang terjadi di permukaan bumi akibat pelepasan energi dari bawah permukaan secara tiba-tiba yang menciptakan gelombang seismik. Gempa bumi biasa disebabkan oleh pergerakan kerak bumi atau lempeng bumi. Selain itu gempa bumi juga bisa disebabkan oleh letusan gunung api. Gempa bumi juga bisa diartikan sebagai suatu peristiwa bergetarnya bumi akibat pelepasan energi di dalam bumi secara tiba-tiba yang ditandai dengan patahnya lapisan batuan pada kerak bumi.</label>
                      </div>
                    </div>
                  </div>
                <hr size="10px" style="border-top: 1px dashed purple;">
                <div class="row">
                    <div class="col-md-12 pr-md-1">
                      <div class="form-group">
                        <h1>Convolutional Neural Network</h1>
                        <label>Convolutional Neural Network merupakan salah satu jenis algoritme Deep Learning yang dapat menerima input berupa gambar, menentukan aspek atau obyek apa saja dalam sebuah gambar yang bisa digunakan mesin untuk “belajar” mengenali gambar, dan membedakan antara satu gambar dengan yang lainnya. Arsitektur CNN terbilang mirip dengan pola koneksi neuron atau sel saraf dalam otak manusia. CNN terinspirasi dari Visual Cortex, yaitu bagian pada otak yang bertugas untuk memroses informasi dalam bentuk visual. Dengan arsitektur seperti itu, CNN dapat dilatih untuk memahami detail sebuah gambar dengan lebih baik. Dengan begitu, CNN dapat menangkap dependensi Spasial dan Temporal dalam sebuah gambar setelah kamu memberikan filter yang relevan.</label>
                      </div>
                    </div>
                  </div>
                <hr size="10px" style="border-top: 1px dashed purple;">
                <div class="row">
                    <div class="col-md-12 pr-md-1">
                      <div class="form-group">
                        <h3>Catatan</h3>
                        <label>Pada prediksi, dilakukan pengelompokan frekuensi gempa sebagai berikut : </label>
                        <ul>
                          <li>Kelas 1 untuk magnitudo gempa dibawah 3.5 SR <p>Dirasakan oleh sedikit orang, hampir tak terasa. Dirasakan oleh sedikit orang, terutama di lantai teratas bangunan</p></li>
                          <li>Kelas 2 untuk magnitudo gempa diantara 3.5 SR - 3.9 SR <p>Dirasakan didalam ruangan, terutama di lantai teratas bangunan, tetapi mungkin dianggap bukan merupakan gempa</p></li>
                          <li>Kelas 3 untuk magnitudo gempa diantara 4.0 SR - 4.4 SR <p>Dirasakan oleh banyak orang di dalam ruangan, beberapa orang di luat ruangan. Dirasakan seperti goncangan truk berat yang lewat</p></li>
                          <li>Kelas 4 untuk magnitudo gempa diantara 4.5 SR - 4.9 SR <p>Dirasakan oleh hampir semua orang, beberapa orang terbangun. Benda-benda kecil bergerak. Pepohonan dan kolam renang dapat bergetar</p></li>
                          <li>Kelas 5 untuk magnitudo gempa diatas 5.0 SR <p>Dirasakan oleh setiap orang. Dapat terjadi kerusakan ringan pada bangunan. Dan pada gempa yang dahsyat akan menimbulkan kerusakan total hingga gelombang terlihat di permukaan</p></li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-user">
              <div class="card-body">
                <p class="card-text">
                  <div class="author">
                    <div class="block block-one"></div>
                    <div class="block block-two"></div>
                    <div class="block block-three"></div>
                    <div class="block block-four"></div>
                      <div class="fas fa-house-damage fa-7x pb-3"></div>
                    <p class="description">
                      Earthquake Prediction
                    </p>
                  </div>
                </p>
                <div class="card-description">
                  Do not be scared of the truth because we need to restart the human foundation in truth And stay safe in everywhere

                </div>
              </div>
              <div class="card-footer"></div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script><i class=""></i> Created by
            <a href="javascript:void(0)" target="_blank"></a> Me & Myself.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="{{ url_for('static',filename='js/core/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static',filename='js/plugins/perfect-scrollbar.jquery.min.js') }}"></script>
  <!-- Chart JS -->
  <script src="{{ url_for('static',filename='js/plugins/chartjs.min.js') }}"></script>
  <!--  Notifications Plugin    -->
  <script src="{{ url_for('static',filename='js/plugins/bootstrap-notify.js') }}"></script>
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>
</body>

</html>